@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'RammettoOne-Regular';
	src: url('../font/RammettoOne-Regular.ttf');
}

h1 {
  font-family: 'RammettoOne-Regular';
}
h3,h2,p {
  font-family: sans-serif;
}
main {
  max-width: 1100px;
  margin: 0 auto;
  padding: 100px 0;
}
.card-item { 
  @apply break-words hover:opacity-75 cursor-pointer;
}
.card-item .card-inner {
  @apply box-border bg-white p-4 w-11/12 m-auto;
}
.card-item h3 {
  @apply my-2 font-bold;
  background: #1395ac;
  padding: 6px 9px;
  line-height: 1;
  display: inline-block;
  color: #fff;
  position: relative;
  top: -18px;
  margin-bottom: 0;
}
.card-item p {
  position: relative;
  top: -10px;
}
@media(max-width:768px) {
  main {
    padding: 50px 0;
  }
  .slick-slide {
    width: 100% !important;
    float: none !important;
    margin-bottom: 20px;
  }
}
